<a href="https://colab.research.google.com/github/cephassegbedzi5326-droid/Python-assigment/blob/main/Python%20assignment%20answers%2C%20from%20question%201%20to%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Items and their prices
Items_prices={
    "Bread":"25",
    "Milk":"18",
    "Eggs":"2.5",
    "Sugar":"20"
    }

In [ ]:
quantities={}

In [ ]:
# ask the user for the quantity of items to buy
for item in Items_prices:
    amount = int(input(f"how many {item} do you want to buy"))
    quantities[item] = amount

how many Bread do you want to buy2
how many Milk do you want to buy1
how many Eggs do you want to buy6
how many Sugar do you want to buy0

In [ ]:
# calculating the total cost
Total_cost=0
for item in Items_prices:
    price=float(Items_prices[item]) # Convert price to float
    qty=quantities[item]
    Total_cost += price * qty
    print(f"\nInitial total cost:{Total_cost}GHs")

Initial total cost:50.0GHs

Initial total cost:68.0GHs

Initial total cost:83.0GHs

Initial total cost:83.0GHs

In [ ]:
if Total_cost >100:
  discount=Total_cost *0.1
  total_cost=Total_cost-discount
  print(f"\nTotal cost after discount:{total_cost}GHs")
else:
  print(f"No discount applied.")

No discount applied.

In [ ]:
# calculating subtotal
subtotal=0
for item in Items_prices:
    price=float(Items_prices[item])
    qty=quantities[item]
    subtotal += price * qty

In [ ]:
# calculating discount on the subtotal
discount=0
if subtotal >100:
   discount=subtotal*0.1

In [ ]:
#calculating total
total=subtotal-discount

In [ ]:
# printing the receipt
print("\n-----Receipt-----")
for item in Items_prices:
    Item_total=float(Items_prices[item]) * quantities[item]
    print(f"{item}(x{quantities[item]}):GHS {Item_total:.2f}")
    print("-------------")
    print(f"Subtotal : GHS {subtotal:.2f}")
    print(f"Discount : GHS {discount:.2f}")
    print(f"Total : GHS {total:.2f}")

-----Receipt-----
Bread(x2):GHS 50.00
-------------
Subtotal : GHS 83.00
Discount : GHS 0.00
Total : GHS 83.00
Milk(x1):GHS 18.00
-------------
Subtotal : GHS 83.00
Discount : GHS 0.00
Total : GHS 83.00
Eggs(x6):GHS 15.00
-------------
Subtotal : GHS 83.00
Discount : GHS 0.00
Total : GHS 83.00
Sugar(x0):GHS 0.00
-------------
Subtotal : GHS 83.00
Discount : GHS 0.00
Total : GHS 83.00

In [74]:
# List of dictionaries that will store studebt names and scores
students=[
    {"name":"Ama", "Maths":78, "Science":82, "English":74},
    {"name":"Kojo", "Maths":65, "Science":59, "English":72},
    {"name":"Esi", "Maths":90, "Science":88, "English":85}

]

In [86]:
#Calculating the average for each student using loop
for student in students:
  maths_score = int(student["Maths"])
  science_score =int(student["Science"])
  english_score = int(student["English"])
  # Calculating average for the current student
  average_score = (maths_score + science_score + english_score) / 3
  # Storing average back into the dictionary for the current student
  student.update({"Average":average_score})

In [89]:
#printing student's result
for student in students:
  print(
      f"{student["name"]}-Maths:{student["Maths"]},"
      f"Science:{student["Science"]},English:{student["English"]}"
      f"=> Average:{student["Average"]:.2f}"
  )

Ama-Maths:78,Science:82,English:74=> Average:78.00
Kojo-Maths:65,Science:59,English:72=> Average:65.33
Esi-Maths:90,Science:88,English:85=> Average:87.67

In [96]:
#Determining the student with highest average score
highest_average=0
for student in students:
  if student["Average"] > highest_average:
    highest_average=student
  print("\nStudent with the highest average score:")
  print(f"{highest_average["name"] }= {highest_average["Average"]:.2f}")

Student with the highest average score:
Esi = 87.67

In [97]:
# Creating a dictionary mapping names to salary
employee_salaries = {
    "Kwame":3200,
    "Akua": 4000,
    "Yaw":2800,
    "Afia":5000
}

In [107]:
# Store original salaries for comparison in the next cell
original_salaries = employee_salaries.copy()

# Creating the conditions for salary adjustments and updating employee_salaries
for employee, salary in employee_salaries.items():
  if salary < 3500:
    # Apply 7% increase and update the salary
    employee_salaries[employee] = salary * 1.07
  else:
    # Apply 4% increase and update the salary
    employee_salaries[employee] = salary * 1.04

In [108]:
print(f"Kwame | Old:{original_salaries['Kwame']:.2f} | New:{employee_salaries['Kwame']:.2f}")
print(f"Akua | Old:{original_salaries['Akua']:.2f} | New:{employee_salaries['Akua']:.2f}")
print(f"Yaw | Old:{original_salaries['Yaw']:.2f} | New:{employee_salaries['Yaw']:.2f}")
print(f"Afia | Old:{original_salaries['Afia']:.2f} | New:{employee_salaries['Afia']:.2f}")

Kwame | Old:3200.00 | New:3424.00
Akua | Old:4000.00 | New:4160.00
Yaw | Old:2800.00 | New:2996.00
Afia | Old:5000.00 | New:5200.00

In [111]:
#Creating list of even numbers within the range 2 - 20(inclusive)
even_numbers=list(range(2,21,2))

In [112]:
#append 22 to the list
even_numbers.append(22)

In [113]:
#remove the smallest number
even_numbers.remove(min(even_numbers))

In [114]:
#calculating the sum of the remaining numbers
total_sum=sum(even_numbers)

In [115]:
#calculating the average
average=total_sum/len(even_numbers)

In [116]:
#printing the results
print(f"Even numbers:{even_numbers}")
print(f"Sum:{total_sum}")
print(f"Average:{average:.2f}")

Even numbers:[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
Sum:130
Average:13.00

In [117]:
#We will ask the user to input a sentence
sentence=input("Enter a sentence:")

Enter a sentence:I am taking a course in Data analytics with Databloom Africa.

In [118]:
#We create a dictionary to store vowel counts
vowel_counts={
    "a":0,
    "e":0,
    "i":0,
    "o":0,
    "u":0
}

In [119]:
#converting the characters to lower case
sentence=sentence.lower()

In [122]:
#creating loop through each character for vowels
for character in sentence:
  if character is vowel_counts:
    vowel_counts[character] += 1

In [128]:
#printing the vowel counts
print("Vowel counts:")
for vowel, count in vowel_counts.items():
  print(f"{vowel}:{count}")

Vowel counts:
a:0
e:0
i:0
o:0
u:0